 Created by http://www.gitignore.io

### Scala ###
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
*/target/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.idea
*.iml
*.ipr
*.iws
*/out
out

# Credentials
src/main/resources/credentials.conf

*.lock
.DS_Store
.history
.classpath
.cache
.project/
.project
.idea/
.idea_modules/
.settings/
.target/
RUNNING_PID
project/boot/
workspace/
repository/
monitoring/
target/
logs/
.settings
.classpath
.project
.cache
bin/
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
.sbtserver
project/.sbtserver
build.sbt
project/sbt-ui.sbt
project/play-fork-run.sbt
